@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

body
{
    background-color: #0a0b0e !important;
    color: #FFFFFF;
    font-family: "Montserrat" , sans-serif;
}

a ,a:hover
{
    color: rgba(255, 255, 255, 0.932) ;
    text-decoration: none;
}

nav img
{
    max-width: 70px;
    max-height: 70px;
}
nav ul li
{
    cursor: pointer;
}

.line
{
    background-color: rgb(192, 187, 187);
    height: 2px;
    width: 100px;
    border-radius: 2%;
}



.over-layer
{
    position: relative;

}
.over-layer:hover .layer 
{
    display: block;
}
.over-layer:hover .desc 
{
    display: block;
}

.layer
{
    background-color: rgb(7, 6, 6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
display: none;
    opacity: .6;
    cursor: pointer;
}
.desc
{
    cursor: pointer;
    position: absolute;
    
    color: rgb(241, 241, 241);
    display: none;
    opacity: .3;
    top: 45%;
    
    left: 40%;
    
    width: 40%;
    height: 15%;
    
    
    
}

img
{
    cursor: pointer;
}

.register input:focus
{
    border: 2px solid green ;
    box-shadow: none;
}